node_modules
npm-debug.log
.env.local
.env.*.local
storage/logs/*
storage/app/*
bootstrap/cache/*
tests
.git
.github
.gitignore
.gitlab-ci.yml
.phpstan
.vscode
docker-compose.yml
.editorconfig
.env.example
.prettierignore
.prettierrc
.eslintignore
.eslintrc
.php-cs-fixer.php
pint.json
phpunit.xml
